allow vendor_init proc:file { write };
allow vendor_init proc_dirty_ratio:file write;
allow vendor_init proc_dirty:file write;
allow vendor_init proc_kernel_sched:file write;
allow vendor_init firmware_file:dir search;
allow vendor_init firmware_file:file r_file_perms;
